.farmer1 {
  /* position: fixed;
  left: 20px;
  height: 80%;
  width: 104px;
  background: green;
  top: 50%;
  transform: translateY(-50%); */
  position: fixed;
  left: 275px;
  transform: rotate(90deg);
  transform-origin: top left;
}
.farmer1-cards {
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.last-cards {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.farmer2 {
  /* position: fixed;
  display: flex;
  right: 20px;
  height: 80%;
  width: 104px;
  background: green;
  transform: rotate(-90deg);
  transform-origin: bottom left; */
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  right: -86px;
  bottom: 86px;
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform-origin: bottom left;
}

.lord {
  display: -ms-flexbox;
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.lord-cards {
  display: flex;
}
.lord-buttons {
  margin-bottom: 15px;
}
/* #deck {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: green;
  width: 800px;
}
.dragArea {
  display: flex;
  flex-wrap: wrap;
}
#deck .card {
  margin-left: -40px;
} */
.card {
  margin-left: -40px;
}
.farmer1-card {
  /* transform: rotate(90deg); */
}
.farmer1-card-img {
  /* transform: rotate(90deg); */
}